.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  flex-direction: column;
}
.input{
  padding-bottom: 5%;
}
.App table{
  border: 1px dotted rgb(77, 74, 74);
  

}
.input input{
  margin-right: 10px;
}






